{% extends "base.html" %}

{% block content %}
<h2>Todo List</h2>
<button type="button"><a href="{% url 'todo_create' %}">Add Todo</a></button>
<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Actions</th>
    <th>Completed</th>
    <th>Due Date</th>
  </tr>
  {% for todo in todos %}
  <tr>
    <td>{{ todo.title }}</td>
    <td>{{ todo.description }}</td>
    <td>
      <button type="button" id="action-1"><a href="{% url 'todo_update' todo.pk %}">Update</a></button>
      <button type="button" id="action-2"><a href="{% url 'todo_delete' todo.pk %}">Delete</a></button>
    </td>
    <td>
      {{ todo.completed}}
    </td>
    <td>{{ todo.due_date}}</td>
  </tr>
  {% empty %}
  <tr>
    <td colspan="2">No todos found.</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
